/*Header*/
header.dark{
    background-color: #0f0f0f;
    transition: 1s;
}
.menu-img.dark{
    background-color: #202121;
    transition: 1s;
    border: 1px solid black;
}
.search.dark input{
    border: solid 1px black;
    background-color: #202121;
    color: darkgrey;
    transition: 1s;
}
.search.dark{
    background-color: #0f0f0f;
    transition: 1s;
}
.account.dark{
    color: darkgrey;
    transition: 1s;
}
.movie-page.dark{
    background-color: #202121;
    transition: 1s;
}
.movie-page.dark .movie-card{
    background-color: #2e2e2e;;
    box-shadow: none;
    transition: 1s;
}
.movie-page.dark .movie-title{
    color: grey;
    transition: 1s;
}
.movie-page.dark .movie-description{
    color: darkgrey;
    transition: 1s;
}
.movie-page-header.dark{
    background-color: #202121;
    transition: 1s;
}
.movie-page.dark .page-selector{
    box-shadow: none;
    background-color: #2e2e2e;
    transition: 1s;
}
.movie-page.dark footer{
    background-color: #2e2e2e;;
    transition: 1s;
}
.movie-page.dark .movie-all{
    background-color: #2e2e2e;
    box-shadow: none;
    transition: 1s;
    color: darkgrey;
}
.movie-page.dark .movie-all-info{
    background-color: #202121 ;
    transition: 1s;
}
.movie-page.dark .movie-all-title{
    color: gray;
}
.pop-up-menu.shown.dark{
    background-color: #0f0f0f;
    transition: 1s;
}
.pop-up-menu.shown.dark .find-element{
    border-bottom: 1px solid #202121;
    transition: 1s;
}
.pop-up-menu.shown.dark .find-element:hover{
    background-color: #202121;
    transition: 1s;
}
.search.dark button{
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    background-color: #202121;
    transition: 1s;
    border: 1px solid black;
}
