.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cars{
  display: flex;
  justify-content: space-around;
}
.carsList{
  display: flex;
  width: 50%;
  flex-wrap: wrap;
}
.updateForm{
  position: absolute;
  background-color: white;
  border:2px solid grey;
  border-radius: 20px;
  margin: 15px 0 0 -55px ;
  padding: 10px;
}
.car{
  width: 100px;
}
.carsForm{
  position: fixed;
  right: 20px;
  top: 20px;
}